.qualification__container {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

.qualification__tabs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.qualification__button {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.qualification__button:hover,
.qualification__active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.qualification__sections {
    display: flex;
    justify-content: center;
}

.qualification__content {
    display: none;
}

.qualification__content-active {
    display: block;
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: 1rem;
    font-weight: bold;
}

.qualification__subtitle {
    display: inline-block;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.qualification__calendar {
    font-size: 0.875rem;
    color: var(--text-color-light);
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: rgba(63, 35, 35, 0.897); /* Changed to black */
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgb(80, 56, 56); /* Changed to black */
    transform: translate(6px, -7px);
}

/* Hide the last line after the last timeline dot */
.qualification__data:last-child .qualification__line {
    display: none;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .qualification__container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .qualification__container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
}
@media screen and (max-width: 576px) {
    .qualification__sections {
        grid-template-columns: initial;
    }

    .qualification__button {
        margin: 0 var(--mb-0-75);
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .qualification__data {
        gap: 0.5rem;
    }
}
